body{
    font-family: bai jamjuree; /* ใช้กำหนดลักษณะของฟอนต์ */
    font-weight: bold;
    display: flex; /* ใช้ในการกำหนดวิธีการแสดงผลขององค์ประกอบ */
    justify-self: center; /* ใช้เพื่อควบคุมการจัดตำแหน่ง (alignment) */
    align-items: center; /* ใช้ในการจัดตำแหน่ง (alignment) องค์ประกอบในแนวตั้ง (บนแกน Y)*/
    margin: 0; /* ใช้ในการกำหนดพื้นที่ว่าง (spacing) รอบๆ องค์ประกอบ (element) ซึ่งช่วยในการจัดระเบียบและเว้นระยะห่างระหว่างองค์ประกอบต่าง ๆ ในหน้าเว็บ */
    background-color: gray; /* ใช้ในการกำหนดสีพื้นหลัง */
}
.quiz-container{
    text-align: left; /* ใช้ในการจัดตำแหน่งข้อความ (text) */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* ใช้ในการสร้างเงาให้กับองค์ประกอบ (element) */
    padding: 20px; /* ใช้ในการกำหนดระยะห่าง (พื้นที่ว่าง) */
    border-radius: 8px; /* ใช้ในการทำให้มุมขององค์ประกอบมีความโค้ง (rounded corners) แทนที่จะเป็นมุมเหลี่ยมตรง */
    background-color: burlywood;
    margin-bottom: 20px;
}
.button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 13px;
    font-family: bai jamjuree;
    
    cursor: pointer; /* ใช้ในการเปลี่ยนรูปแบบของเคอร์เซอร์ (pointer) เมื่อผู้ใช้วางเมาส์อยู่เหนือองค์ประกอบ (element) ในหน้าเว็บ */
    background-color: #84bbf6;
    color: rgb(7, 0, 0); /* ใช้สำหรับกำหนดสีของข้อความ (text) */
    border: none; /* ใช้ในการกำหนดขอบ (border) รอบๆ องค์ประกอบ เช่น ขอบของกล่อง (box) */
    border-radius: 5px;
    transition: background-color 0.3s; /* ใช้ในการกำหนดเอฟเฟกต์การเปลี่ยนแปลง (หรือการแอนิเมชัน) */
}
/* ที่ใช้ในการกำหนดลักษณะของปุ่ม (<button>) เมื่อผู้ใช้วางเมาส์ (hover) บนปุ่มนั้นๆ */
.button:hover {
    background-color: #0056b3; 
 }